body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#inicio {
  margin-top: 0;
  padding: 0.5em;
}

.textoMediano{
  font-size: 1.3em;
  font-weight: 400;
}
