#inicio {
  margin-top: 0;
  padding: 0.4em;
}


.palabra{
	width: 24em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


@media (min-width:960px){
  #tarjeta{
    margin: 4em auto;
    width: 60%;    
  }
}

@media (max-width:960px){
  #tarjeta{
    margin: 4em auto;
    width: 100%;
  }
}
