#inicio {
  margin-top: 0;
  padding: 0.4em;
}

.palabra{
	width: 24em;
}

@media (min-width:960px){
  #tarjeta{
    margin: 2em auto;
    width: 60%;
  }
}

@media (max-width:960px){
  #tarjeta{
    margin: 2em auto;
    width: 100%;
  }
}
